.container
  - if notice
    #notice.alert.alert-success= notice

#event-container.container
  .panel.panel-default
    .panel-body
      .general-content-row.row
        .col-md-8
          =image_tag @event.image.url, class: "card-img-top event-container-img"
        .col-md-4
          .event-details-container
            #start-time
              %span= @event.start_time.strftime("%h")
              %br
              %span= @event.start_time.strftime("%d")
            .event-title.h4= @event.title
            %em.organizer.small.text-muted
              %span by
              %span=@event.organizer_name
          .event-details-container
            #price.text-muted
              %span RM
              %span= @event.price
    .panel-body
      .row
        .col-md-4.col-md-push-8.col-sm-12
          .event-details-container
            %label
              %strong.event-label Date and Time:
            .event-details.time
              %span= @event.start_time.strftime("%F %R %P")
              %span -
              %br
              %span= @event.end_time.strftime("%F %R %P")
          .event-details-container
            %label
              %strong.event-label Location:
            .event-details.location= @event.location
          .event-details-container
            %label
              %strong.event-label State:
            .event-details.area= @event.area
        .col-md-8.col-md-pull-4.col-sm-12
          .event-details-container
            %label
              %strong.event-label Description:
            .event-details.description= @event.description
          .event-details-container
            %label
              %strong.event-label Speaker:
            .event-details.speaker= @event.speaker
          .event-details-container
            %label
              %strong.event-label Language:
            .event-details.language= @event.language
          .event-details-container
            %label
              %strong.event-label Contact:
            .event-details.contact= @event.contact

      = link_to 'Edit', edit_event_path(@event)
      |
      = link_to 'Back', events_path
