.container
  - if notice
    #notice.alert.alert-success= notice

#event-container.container
  .panel.panel-default
    .panel-body
      .general-content-row.row
        .col-md-8
          =image_tag @event.image.url, class: "card-img-top event-container-img"
        .col-md-4
          .event-details-container
            #start-time
              %span= @event.start_time.strftime("%h")
              %br
              %span= @event.start_time.strftime("%d")
            .event-title.h4= @event.title
            %em.organizer.small.text-muted
              %span by
              %span=@event.organizer_name
          .event-details-container
            #price.text-muted
              %span RM
              %span= @event.price
    #register-row.panel-body
      .col-md-offset-8.col-md-4
        = link_to "REGISTER", @event.register_link || @event.register_form.url, target: "_blank", class: "btn btn-block btn-success"
    .panel-body
      .row
        .col-md-4.col-md-push-8.col-sm-12
          .event-details-container
            %label
              %strong.event-label Date and Time:
            .event-details.time
              %span= @event.start_time.strftime("%F %R %P")
              %span -
              %br
              %span= @event.end_time.strftime("%F %R %P")
          .event-details-container
            %label
              %strong.event-label Location:
            .event-details.location= @event.location
          .event-details-container
            %label
              %strong.event-label State:
            .event-details.area= @event.area
        .col-md-8.col-md-pull-4.col-sm-12
          .event-details-container
            %label
              %strong.event-label Description:
            .event-details.description= @event.description
          .event-details-container
            %label
              %strong.event-label Speaker:
            .event-details.speaker= @event.speaker
          .event-details-container
            %label
              %strong.event-label Language:
            .event-details.language= @event.language
          .event-details-container
            %label
              %strong.event-label Contact:
            .event-details.contact= @event.contact

      = link_to 'Edit', edit_event_path(@event)
      |
      = link_to 'Back', events_path

:javascript
  // TODO: Shared this method
  // NOTE: Check this https://www.fourfront.us/blog/jquery-window-width-and-media-queries
  if ($("#start-time").css("display") == "none" ) {
    // get initial position of the element
    var panelPosition = $("#register-row").offset().top;
    // assign scroll event listener
    $(window).scroll(function() {
      // get current position
      var currentScroll = $(window).scrollTop();
      // apply position: fixed if you
      if (currentScroll >= panelPosition) {
          // scroll to that element or below it
          $("#register-row").css({
              position: "fixed",
              bottom: "0",
              left: "0",
              width: "100%",
              "background-color": "white",
              "border-top": "solid 1px #f1f1f1",
              "z-index": "1"
          });
      } else {
          // apply position: static
          $("#register-row").css({
              // if you scroll above it
              position: "static"
          });
      }
    });
  }
